.footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgb(29, 22, 28);
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: cornsilk;
    margin-top: 2rem;
  }